#ignore compressed files
*.gz
#ignore o files
*.o
#ignore obj files
*.obj
#ignore the executable
raytracer
#ignore ppm files
*.ppm
!/losslessShowcasePics/hiResSoftShadowReflDragon.ppm
#ignore jpg files
*.jpg
#ignore data folder
/models/*
#except for ply files
!/models/*.ply